{% extends 'base4.html.twig' %}

{% block title %}Musée!{% endblock %}

{% block body %}
<div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Musée</h3>
              </div>
              <div class="card-body">
             {{ form(museeForm) }}
              </div>
            </div>

{% endblock %}
