{% extends 'base4.html.twig' %}

{% block title %}Hotel{% endblock %}

{% block body %}
<div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Hotel</h3>
              </div>
              <div class="card-body">
              {{ form(hotelForm) }}
              </div>
</div>
{% endblock %}
