{% extends 'base4.html.twig' %}

{% block title %Nouveauté{% endblock %}

{% block body %}
<div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Nouveauté</h3>
              </div>
              <div class="card-body">
            {{ form(nouveauteForm) }}
              </div>
            </div>

{% endblock %}
