{% extends 'base4.html.twig' %}

{% block title %}Réstaurant{% endblock %}

{% block body %}
        <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Réstaurant</h3>
              </div>
              <div class="card-body">
              {{ form(ResForm) }}
              </div>
            </div>
       
{% endblock %}
